*{
    font-family: "Inter", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #E9EDF2;
    height: 100%;
    /* overflow: hidden; */
}

.espacioArriba{
    height: 15px;
    background-color: #E9EDF2;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #D6EBFF;
}

.nav-left {
    align-self: flex-start; /* Alinea el nav a la izquierda */
    font-size: 30px;
    background-color: #D6EBFF;
    height: 100%;
    border: none; /* Quita los bordes */
    width: 75px;
    cursor: pointer;
}
.navbar i:hover {
    font-size: 35px;
}
  
.nav-center {
    align-self: center; /* Alinea el nav al centro */
    font-size: 24px;
    background-color: #D6EBFF;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    width: 523px;
    justify-content: center;
}
.nav-center h1 {
    font-size: 24px;
}

.nav-right {
    align-self: flex-end; /* Alinea el item a la derecha */
    font-size: 30px;
    background-color: #D6EBFF;
    height: 100%;
    border: none; /* Quita los bordes */
    width: 75px;
    cursor: pointer;
}

.contenedor{
    margin: 60px 75px 0px 75px;
    padding: 25px 30px 25px 30px;
    /* display: flex;
    justify-content: space-between; */
    height: calc(100vh - 210px);
    width: calc(100vw - 150px);
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra */
    overflow: hidden;
    
}
.menu{
    background-color: #D6EBFF;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
.buscar{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 35px;
    width: 250px;
    font-size: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-right: 15px;
}

.menu1{
    flex: 1;
}

.menu2{
    flex: 1;
    display: flex;
    justify-content: end;
}

input[type="search"]{
    background-color: #ffffff;
    height: 35px;
    width: 210px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.icon{
    font-size: 24px;
    margin-left: 15px;
}

input[type="search"]:focus {
    outline: none; /* Eliminar el borde al hacer clic en el input */
}

input[type="search"]::placeholder {
    color: #BABABA; /* Cambia el color del placeholder */
}

.bi-search{
    /* height: 35px; */
    width: 40px;
    text-align: center;
    color: #575757;
}

.tablecont{
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.table{
    border-collapse: collapse;
    width: 100%;
    
    /* overflow-x: auto; */
}
thead th {
    border-bottom: 1px solid black; /* Establecer el borde inferior en los elementos th dentro de thead */
    font-size: 20px;
}
td{
    text-align: center;
    font-size: 16px;
}

th, td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    width: 275px;

  }
  
.fan{
    width: auto;
  }

td i{
    font-size: 30px;
}

.footimg {
    height: 55px;
    width: 55px;
}
footer{
    display: flex;
    align-items: right;
    justify-content: right;
}
footer div{
    height: 100%;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.over{
    position: absolute;
    height: 100%;
    width: 0px;
    background-color: hsla(0, 0%, 0%, 0.44);
    z-index: 1;
}
.sidebar{
    background-color: white;
    height: 100%;
    width: 0px;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 2;
}

.sidebar i:hover {
    font-size: 35px;
}

.navbar-side{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #D6EBFF;
}
.espacioArriba-side{
    height: 15px;
    background-color: #ffffff;
}
.nav-left:focus #sidebar {
    width: 0px; /* Cambia el ancho del sidebar a 0px cuando el botón es clickeado */
}
ul{
    margin-top: 30px;
    list-style-type: none;
    font-size: 24px;
}
li{
    border-top: 1px solid hsla(0, 0%, 0%, 0.5);
    
}
li a{
    display: block;
    padding: 20px 0px 20px 30px;
    text-decoration: none;
    color: black;
}

li a:hover{
    background-color: rgb(244, 244, 244);
}

hr{
    height: 1px;
    background-color:hsla(0, 0%, 0%, 0.5) ;
}

.imgnavside{
    height: 100%;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgnavside img{
    height: 40px;
    width: 40px;
}

.menuuser{
    height: 0px;
    width: 240px;
    border: none;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    right: 2px;
    transition: height 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.menuuser div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuuser div a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 100%;
}
.menuuser div i{
    font-size: 25px;
    margin-left: 20px;
}

td i{
    cursor: pointer;
}

.menuopcion{
    height: 0px;
    width: 150px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    transition: height 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}